global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
{{- range .Services}}
  - job_name: '{{.Name}}'
    static_configs:
      # Use host.docker.internal for Docker-based Prometheus to reach host services
      - targets: ['host.docker.internal:{{.Port}}']
{{- end}}